.darkBG {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh; 
  z-index: 1500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* position: absolute;  */
  position: fixed;  
  /* overflow-y: auto; */
  backdrop-filter: blur(3px); 
  }
  
.centered {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: auto;
  height: auto;
  max-height: calc(100vh - 20px);
  background: white;
  z-index: 2000;
  border-radius: 5px; 
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
  /* overflow-y: scroll; */
  overflow-y: auto;
}
