* {
  margin: 0px;
  padding: 0px;
}

.logo-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .mes{
  color: red;
  margin-top: 80px;
} */

/* .day-format{
  border: 2px solid black;
  width: 100px;
  height: 100px;
} */

/* Modal */
/*  .ReactModalPortal > div{
  opacity: 0;
  padding: 0px;
  inset: 0px;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;

} */

/* .modal-fondo {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
} */

/* .ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
} */

/*.modal {
  background: white;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
  border: 2px solid black
} */
