* {
  margin: 0px;
  padding: 0px;
}

.logo-container {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: rgb(85, 85, 85);
  height: 100vh;
}

.app-users-label {
  color: black;
  font-weight: lighter;
}
