* {
  margin: 0px;
  padding: 0px;
}

.logo-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mes{
  color: red;
  margin-top: 80px;
}

.day-format{
  border: 2px solid black;
  width: 100px;
  height: 100px;
}
